body {
    background-image: url(Images/musicbackground.jpg);
    background-size: 1000px
}

ul.navigation {
    list-style-type: none;
    margin: 1px;
    text-align: center;
    margin: 20px;
    padding-right: 40px;
    font-size: 25px;
    
    
}
    
li{
    display: inline;
    padding: 8px;
    letter-spacing: .2em;
    background-color: #FAF4E7;
    color: #C6350A;
    border: 5px groove grey;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: 900;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: #C6350A;
}


header {
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;

}

div.title {
    border: 5px inset grey;
    margin: 10px;
    background: #FAF4E7;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    

}

div.main {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 1000px;
    margin-bottom: 30px;
    text-align: center;
}


div.aboutmain {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 1700px;
    margin-bottom: 30px;
    text-align: center;
}

div.gallerymain {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 2250px;
    margin-bottom: 30px;
    text-align: center;
}

div.blogmain {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 1450px;
    margin-bottom: 30px;
    text-align: center;
}

li.clicked {
    background-color: lightgray;
    color: black;
}

h1.sectiontitle{
    text-align: center;
    font-family: "Montserrat"
}

div.mainbody {
    border: 15px ridge grey;
    background-color: #FAF4E7;
    margin-left: 40px;
    margin-right: 40px;
    height: 1550px;
}

div.blogbody {
    border: 15px ridge grey;
    background-color: #FAF4E7;
    margin-left: 40px;
    margin-right: 40px;
    height: 1300px;
}

div.gallerybody {
    border: 15px ridge grey;
    background-color: #FAF4E7;
    margin-left: 40px;
    margin-right: 40px;
    height: 2100px;
}

div.person {
    border: groove grey 8px;
    margin: 20px;
    background-color: lightgray;
}

div.person1 {
    border: groove grey 8px;
    margin: 20px;
    background-color: lightgray;
    padding: 20px;
}

div.personbio {
    width: 50%;
    float: left;
    text-align: center;
    margin: auto;
    font-family: "Lora";
    font-size: 14px

}
div.personimg {

    margin-left: 50%;
    text-align: center;
    font-family: "Lora";
    padding-bottom: 30px

}

div.textbox {
    text-align: left;
    border: solid black 3px;
    padding: 5px;
    margin: 15px;
}

p {
    font-family: "Lora";
}

div.iframe {
    text-align:center;
    width:100%;
    
    
}
iframe{
    width: 450px;
    padding: 20px;
}

div.contactbox {
    text-align: center;
    border: solid black 4px;
    margin: 50px;
    font-family: 'Montserrat';
    width: 800;
    
}

div.contactbody {
    border: 15px ridge grey;
    background-color: #FAF4E7;
    margin-left: 40px;
    margin-right: 40px;
    height: 900px;
}

div.maincontact {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 1050px;
    margin-bottom: 30px;
}

div#logo {
    text-align: center;
    border: ridge grey 10px;
    display: inline-block;
    margin: 50px
    
}

div.person2 {
    border: groove grey 8px;
    background-color: lightgray;
    display: inline-block;
    margin: 40px;
    
}

div.mainblog {
    margin-top: 30px;
    border: 15px ridge grey;
    background: #D6A379;
    margin-left: 80px;
    margin-right: 80px;
    height: 1500px;
    margin-bottom: 30px;
    text-align: center;
}